.highlight_cell {
    -fx-background-color: yellow;
    -fx-text-fill: black;
}

.opaque_layer {
    -fx-background-color: rgb(0, 0, 0, 0.5);
}

.error {
    -fx-border-color: red;
    -fx-border-width: 1px;
}

Button.bottom_bar {
    -fx-font-size: 14px;
    -fx-font-family: "Roboto";
    -fx-font-weight: 500;
    -fx-text-fill: #ffffff;
    -fx-padding: 0px 24px;
    -fx-pref-height: 40px;
    -fx-background-color: #216c2e;
    -fx-background-radius: 50px;
}

Button.bottom_bar:hover {
    -fx-effect: dropshadow(three-pass-box, #72796f, 4, 0, 0, 2);
}




Label {
    -fx-font-size: 14px;
    -fx-font-family: "Roboto";
    -fx-font-weight: 500;
}

Text {
    -fx-font-size: 14px;
    -fx-font-family: "Roboto";
}

HBox.bottom_bar {
    -fx-padding: 8px;
    -fx-background-color: #fcfdf7;
}